#grid_item {
  @include df-y-c;

  .icon {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    background-color: rgba($color: #b1bede, $alpha: 0.2);
    @include df-x-c;
    padding: 5px;
    span {
      font-size: 30px;
    }
  }
}
