#home{
  @include df-y-c;
  padding-bottom: 50px;
  .tab_bar{
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .adm-tab-bar-item-active{
    color: white;
    background-color: #b1bede;
  }
}