#index_group{
  padding: 0 10px;
  .top{
    @include df-x-sb;
    a:link,a:visited{
      text-decoration: none;
    }
  }
  .list{
    .adm-grid{
      justify-items: center;
      align-items:  center;
    }
    .item{
      @include df-x-sa;
      height: 80px;
      border-radius: 5px;
      img{
        width: 50px;
      }
    }
  }
}