#index_news{
  .list{
    .item{
      border-radius: 5px;
      display: flex;
      .left_img{
        img{
          width: 120px;
        }
      }
      .right{
        @include df-y-sb;
        .bottom{
          @include df-x-sb;
        }
      }
    }
  }
}