#index_menu {
  padding: 10px 0;
  background: #fff;
  span {
    font-size: 34px;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba($color:#b1bede,$alpha:0.2);
  }
  #grid_item{
    margin-top: 0!important;
  }
}