*{
  padding: 0;
  margin:0;
}
html,body {
  font-family: 'Microsoft YaHei UI Light';
  color: #333;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: $main-background;
}
.adm-tab-bar-item-active{
  color: white;
  background-color: #b1bede;
}
